@import '../breakpoints/breakpoints.scss';

.HomePage{
    width: 100%;
    grid-area: page;
    position: absolute;
    z-index: -1;

    .loader{ 
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
        .card-section{
            height: 100%;
            width: 100%;
            display: grid;
            grid-gap: 1em;
            justify-content: center;
            grid-template-columns: repeat(auto-fill, 300px);

            &:empty{
                display: none;
            }
        }

        .no-cards{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img{
                padding: 1.5em;
                background: #beedff;
                border-radius: 100%;
                width: 350px;
                height: 300px;
            }
        }
    }
}


