body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Segoe UI";
    color: #707070;
}

table{
    width: 100%;
    text-align: center;
}

.ant-table-tbody:hover {
    background: #e5f7fa;
}

.ant-table th {
    background: #0E8FFF;
    color: white;
    border-radius: 10px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background:#707070; 
    height: 6px;
    width: 60px;
}